.panel {
    display: flex;
    flex-direction: column;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);

    height: 100%;
}

.content-top {
    position: relative;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        display: flex;
    }
}

.name {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(24, 24, 24);
    font-family: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 600;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    width: 100%;
    padding: 8px 12px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 1.8rem;
    }
}

.flags {
    align-self: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    height: 100%;
    padding: 0px 8px 0px 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        position: absolute;
        right: 0px;
    }
}

.flag {
    min-width: 24px;
    min-height: 18px;
    transform-origin: top left;
}

.content-main {
    display: grid;
    grid-template-columns: 1fr;

    width: 100%;
    height: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: 1fr auto 1fr;
    }
}

.content-left {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(32, 32, 32);
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 400;

    padding: 8px 12px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.88rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 0.92rem;
    }
}

.content-left-second {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        padding: 16px;
    }
}

.intensity-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.intensity-title,
.intensity-value,
.acidity-title,
.acidity-value,
.roast-level-title,
.roast-level-value {
    align-self: center;

    color: rgb(32, 32, 32);
    font-family: var(--font-primary);
    font-size: 0.92rem;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.96rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 1rem;
    }
}

.intensity-title,
.acidity-title,
.roast-level-title {
    grid-area: 1 / 1 / 2 / 2;

    font-weight: 600;
}

.intensity-value,
.acidity-value,
.roast-level-value {
    grid-area: 1 / 2 / 2 / -1;

    font-weight: 400;

    text-align: right;
}

.Progress-root {
    grid-area: 2 / 1 / -1 / -1;

    outline: 1px solid rgba(0, 0, 0, 0.8);
    background-color: transparent;
}

.Progress-section:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.acidity-container,
.roast-level-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.content-left-third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    height: 100%;
    padding: 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        padding: 16px;
    }
}

.notes-container,
.pairings-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notes-title,
.notes-description,
.pairings-title,
.pairings-description {
    align-self: center;

    color: rgb(32, 32, 32);
    font-family: var(--font-primary);

    width: 100%;
}

.notes-title,
.pairings-title {
    font-size: 0.92rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.96rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 1rem;
    }
}

.notes-description,
.pairings-description {
    font-size: 0.84rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.88rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 0.92rem;
    }
}

.Divider {
    border-color: rgba(0, 0, 0, 0.2);
}
