.category-product-list {
    display: flex;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
}

.category-product-list-width-controller {
    display: flex;
    flex-direction: column;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 0px 16px;
    margin: auto;
}

.category-product-list-category-group-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.category-product-list-category-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px 0px 0px;
}

.category-product-list-category-group[data-layout="narrow"] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.category-product-list-category-group-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    clip-path: polygon(-100px -100px, 110% -100px, 110% 100%, -100px 100%);

    padding: 16px 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.category-product-list-category-group-container[data-sidebar] {
    @media (min-width: $mantine-breakpoint-sm) {
        grid-template-columns: 50% 1fr;
    }

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: 33% 1fr;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: 25% 1fr;
    }

    .category-product-list-category-group[data-layout="narrow"] {
        .category-product-list-category-group-products {
            @media (min-width: $mantine-breakpoint-xs) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .category-product-list-category-group-products {
        padding: 0px 0px 16px;

        @media (min-width: $mantine-breakpoint-sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media (min-width: $mantine-breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $mantine-breakpoint-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.results-displayed-count {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.Pagination-container {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 100%;
    margin-top: 24px;
}

.Pagination-control {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;

    border: none;
    border-radius: 0px;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.Pagination-control[data-active] {
    outline: 2px solid rgba(0, 0, 0, 0.9);
}

.Pagination-control[data-disabled] {
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));
}

@media (hover: hover) {
    .Pagination-control:not([data-disabled]):hover {
        /* Overriding default Mantine component hover styles */
        background-color: var(--site-colour-secondary, rgb(255, 236, 218));
    }

    .Pagination-control:not([data-active]):not([data-disabled]):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.Pagination-control:not([data-active]):not([data-disabled]):focus-visible {
    outline: 2px solid #000;
}

.Pagination-control:not([data-active]):not([data-disabled]):active {
    background-color: rgba(0, 0, 0, 0.1);
}
