.footer {
    display: flex;
    justify-content: center;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: calc(var(--vw) * 100);
}

.footer-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 32px;

    width: min(calc(var(--vw) * 100), 1280px);
    height: 100%;
    padding: 32px 16px;

    @media (min-width: $mantine-breakpoint-sm) {
        flex-direction: row;
    }
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $mantine-breakpoint-sm) {
        align-items: start;
    }
}

.copyright-message {
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: start;

    width: 100%;

    @media (min-width: $mantine-breakpoint-sm) {
        text-align: center;
    }
}

.sections-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    width: 100%;

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2px;

    width: 100%;
}

.section-heading {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 500;

    width: 100%;
    margin-bottom: 6px;
}

.link {
    display: block;

    position: relative;

    color: black;
    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.1rem;
    text-wrap: nowrap;

    width: min-content;
    padding: 0px 0px 2px;
}

.link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    background-color: black;

    width: 0;
    height: 2px;

    transition: width 0.25s ease-in-out;
}

@media (hover: hover) {
    .link:hover::after {
        width: 100%;
    }
}
