.footer {
    background-color: rgb(255, 236, 218);

    width: 100%;
    height: 200px;
}

.footer-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 16px;

    width: 100%;
    height: 100%;
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}
