.product-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.product-list-category-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.subcategory-information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subcategory-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
}

.subcategory-description {
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
}
