.filter-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.filter-value-color {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 4px;

    border: none;
    background-color: transparent;

    padding: 0px;
}

.filter-value-color-box,
.filter-value-color-box::before {
    border-radius: 4px;

    width: 24px;
    aspect-ratio: 1;
}

.filter-value-color-box::before {
    content: "";
    display: block;

    position: relative;
    z-index: -1;

    outline: 2px solid black;
    outline-offset: -3px;
}

.filter-value-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 600;
    text-align: start;

    height: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.filter-value-count {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
