.filter-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.filter-value-color {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 4px;

    pointer-events: all;

    border: none;
    background-color: transparent;

    padding: 0px;
}

.filter-value-color[data-selected="true"] .filter-value-color-box {
    border: 2px solid black;
}

@media (hover: hover) {
    .filter-value-color:not(:disabled):hover {
        cursor: pointer;
    }

    .filter-value-color:not(:disabled):hover .filter-value-color-box {
        outline: 2px solid black;
    }
}

.filter-value-color:focus-visible {
    outline: 2px solid #000;
}

.filter-value-color-box,
.filter-value-color-box::before {
    border-radius: 4px;

    width: 24px;
    aspect-ratio: 1;
}

.filter-value-color-box::before {
    content: "";
    display: inline;

    position: relative;
    z-index: -1;

    outline: 2px solid black;
    outline-offset: -3px;
}

.filter-value-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 600;
    text-align: start;

    height: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.filter-value-count {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
