.search-bar {
    position: absolute;
    left: 0;

    width: 100%;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.input-wrapper {
    /* Had to do some odd positioning for this component to get the right section to remain
    correctly-positioned */

    position: relative;
    top: 4px;

    --mantine-spacing-md: 0px; /* Removes padding from top of Mantine Input component */

    width: calc(100% - 32px);
    max-width: calc(1280px - 32px);
    padding: 12px 16px 16px;
    margin: 4px auto 20px;

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 0px;
    }
}

.input {
    font-family: var(--font-primary);
    font-size: 1rem;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
