.search-bar {
    position: absolute;
    left: 0;

    width: 100%;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.RemoveScroll {
    display: grid;
    grid-template-rows: auto 1fr;
}

.input-wrapper {
    /* Had to do some odd positioning for this component to get the right section to remain
    correctly-positioned */

    position: relative;
    top: 4px;

    --mantine-spacing-md: 0px; /* Removes padding from top of Mantine Input component */

    width: calc(100% - 32px);
    max-width: calc(1280px - 32px);
    padding: 12px 0px;
    margin: 4px auto 8px;

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 0px;
        margin-bottom: 20px;
    }
}

.input {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    overflow-y: auto;

    padding: 16px;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-container {
}
