.category-hero {
    display: flex;
    justify-content: center;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: min(calc(var(--vw) * 100), 100%);
}

.category-hero-width-controller {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
}

.category-breadcrumbs-separator {
    font-size: 0.8rem;
    font-weight: 700;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.84rem;
    }
}

.category-breadcrumb {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.84rem;
    }
}

.category-breadcrumb-current {
    color: grey;
}

@media (hover: hover) {
    .category-breadcrumb:hover:not(.category-breadcrumb-current) {
        text-decoration: underline;
    }
}

.category-header {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.6rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 3rem;
    }
}

.category-description {
    color: black;
    font-family: Inter;
    font-size: 0.86rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.subcategory-links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    gap: 12px;

    overflow-x: auto;
    overflow-y: hidden;

    min-width: 0px;
    padding: 12px 2px;
}

.subcategory-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    color: black;
    font-family: Inter;
    font-size: 0.86rem;
    text-align: center;
    text-decoration: none;

    padding-bottom: 4px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.subcategory-link-image {
    aspect-ratio: 1;

    outline: 0px solid black;
    border-radius: 8px;

    padding: 6px;

    transition:
        outline-width 0.16s ease-out,
        border-radius 0.16s ease-out;
}

@media (hover: hover) {
    .subcategory-link:hover:not(:disabled) > .subcategory-link-image {
        outline-width: 2px;
        outline-offset: -1px;
        border-radius: 50%;
    }

    .subcategory-link:hover:not(:disabled) {
        text-decoration: underline;
    }
}

.subcategory-link:focus:not(:disabled) > .subcategory-link-image {
    border-radius: 50%;
}

.subcategory-link:focus:not(:disabled) {
    text-decoration: underline;
}

.category-breadcrumb:focus-visible,
.subcategory-link:focus-visible {
    outline: 2px solid #000;
    outline-offset: -1px;
    border-radius: 0px;
}
