.checkout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 0px;
}

.checkout-content-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.CartSummary-header {
    font-size: 1.44rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

@media (min-width: $mantine-breakpoint-lg) {
    .checkout-content {
        padding: 32px 0px;
    }

    .checkout-content-width-controller {
        display: grid;
        grid-template-columns: 1fr 480px;

        padding: 0px 16px;
    }

    .CartSummary-header {
        font-size: 1.28rem;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1.4rem;
        }
    }
}

.checkout-content-left {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.checkout-header {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.4rem;
    }
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.panel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;
}

.panel-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.divider-light {
    --divider-color: rgba(0, 0, 0, 0.3);
}

.checkout-content-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pay-now-button {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.2rem;

    border-radius: 4px;

    width: 100%;
    min-height: 3rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

@media (hover: hover) {
    .pay-now-button:hover {
        color: black;
    }
}

.pay-now-button:focus-visible {
    color: black;

    outline: 2px solid #000;
    border-radius: 0px;
}

.pay-now-button:disabled {
    color: rgba(0, 0, 0, 0.3);
}
