.checkout-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 0px;
}

.checkout-content-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.CartSummary-header {
    font-size: 1.44rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

@media (min-width: $mantine-breakpoint-lg) {
    .checkout-content {
        padding: 32px 0px;
    }

    .checkout-content-width-controller {
        display: grid;
        grid-template-columns: 1fr 480px;

        padding: 0px 16px;
    }

    .CartSummary-header {
        font-size: 1.28rem;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1.4rem;
        }
    }
}

.checkout-content-left {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.checkout-header {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.4rem;
    }
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.panel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;
}

.panel-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.divider-light {
    --divider-color: rgba(0, 0, 0, 0.3);
}

.checkout-content-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pay-now-button {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.2rem;

    border-radius: 4px;

    width: 100%;
    min-height: 3rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

@media (hover: hover) {
    .pay-now-button:hover {
        color: black;
    }
}

.pay-now-button:focus-visible {
    color: black;

    outline: 2px solid #000;
    border-radius: 0px;
}

.pay-now-button:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.user-data-error-container {
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    gap: 8px;

    width: 100%;
}

.user-data-error-buttons-container {
    justify-self: end;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.user-data-error-retry-button,
.user-data-error-dismiss-button {
    color: rgb(218, 46, 23);
    font-family: var(--font-primary);
    font-size: 0.82rem;
    text-align: center;

    width: min-content;
    max-height: 1.6rem;
    padding: 0px 12px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.86rem;
    }

    --button-fz: 0.5rem;
}

@media (hover: hover) {
    .user-data-error-retry-button:hover,
    .user-data-error-dismiss-button:hover {
        color: white;
        background-color: rgb(148, 16, 16);
    }
}

.user-data-error-retry-button:focus-visible,
.user-data-error-dismiss-button:focus-visible {
    outline: 2px solid white;
    border-radius: 0px;
}

.user-data-error-retry-button:active,
.user-data-error-dismiss-button:active {
    color: white;
    background-color: rgb(148, 16, 16);
}

.checkout-content-error {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.checkout-content-error-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.error-header {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.4rem;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.error-link-container {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.25rem;
    }
}

.error-link {
    text-decoration: none;

    outline: none;
    border: none;
    background-color: transparent;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.25rem;
    }
}

.error-try-again-button {
    display: flex;

    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}
