.error-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;

    background-color: rgb(218, 46, 23);
    padding: 8px;
}

.error-message {
    color: white;
    font-family: var(--font-primary);
    font-size: 0.9rem;
    font-weight: 500;
}
