.page-heading {
    font-family: "Radio Canada Big";
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.progress-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
}

.stage-message {
    font-size: 0.75rem;
    font-weight: 500;
}

.set-personal-information {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-fields-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;

    width: 200%;

    transition: translate 0.56s ease-out 0s;
}

.form-stage-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;

    width: 100%;
}

.form-stage-container.in {
    opacity: 1;

    transition: opacity 0.14s ease-out 0.28s;
}

.form-stage-container.out {
    pointer-events: none;

    opacity: 0;

    transition: opacity 0.14s ease-out 0s;
}

.name-fields-container,
.date-of-birth-fields-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 100%;
}

.date-of-birth-fields-container > legend {
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 8px;
}

.form-field-input {
    font-size: 0.9rem;
    font-weight: 400;

    background-color: transparent;
}

.form-field-error-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

.form-field-input-error {
    font-size: 0.825rem;
}

.stage-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 50%;

    width: 100%;
}

.stage-button {
    font-size: 1rem;

    width: 100%;
}

.skip-button {
    align-self: center;

    font-size: 0.9rem;

    width: min-content;
    height: min-content;
    padding: 8px 12px;
}

.skip-warning-hovercard {
    display: flex;
    flex-direction: row;
    gap: 8px;

    border-color: #f8b420;
    background-color: #f8b420;

    padding: 12px;
}

.skip-warning-hovercard > * {
    border-color: #f8b420; /* For HoverCard arrow */
}

.skip-warning-message {
    color: black;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
