.set-personal-information-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 0px;
}

.set-personal-information-form-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 410px;
    padding: 16px;
    margin: auto;
}

.page-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.progress-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
}

.stage-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.75rem;
    font-weight: 500;
}

.return-button {
    position: absolute;
    translate: calc(-100% - 8px) 0%;

    padding: 0px;
    aspect-ratio: 1;
}

.set-personal-information {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-fields-container {
    flex-direction: column;

    transition: translate 0.56s ease-out 0s;
}

.form-stage-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;

    width: 100%;
}

.form-stage-container.in {
    opacity: 1;

    transition: opacity 0.14s ease-out 0.28s;
}

.form-stage-container.out {
    pointer-events: none;

    opacity: 0;

    transition: opacity 0.14s ease-out 0s;
}

.name-fields-container,
.date-of-birth-fields-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 100%;
}

.date-of-birth-fields-container > legend {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 8px;
}

.form-field-label {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.form-field-input {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.form-field-input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.stage-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 50%;

    width: 100%;
}

.next-button {
    font-family: var(--font-primary);
    font-size: 1rem;

    width: 100%;
}

.skip-button {
    align-self: center;

    font-family: var(--font-primary);
    font-size: 0.9rem;

    width: 100%;
    height: min-content;
    padding: 6px 12px;
}

.skip-warning-hovercard {
    display: flex;
    flex-direction: row;
    gap: 8px;

    border-color: #f8b420;
    background-color: #f8b420;

    padding: 12px;
}

.skip-warning-hovercard > * {
    border-color: #f8b420; /* For HoverCard arrow */
}

.skip-warning-message {
    color: black;
    font-family: var(--font-primary);
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
