.oauth-button-inner {
    display: grid;
    grid-template-columns: auto 1fr;
}

.oauth-button-label {
    display: flex;
    justify-content: center;

    font-size: 0.94rem;
    font-weight: 700;
}
