.account-details {
    width: 100%;
    height: 100%;
    padding: 16px 0px;
}

.account-details-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: initial;
    gap: 16px;

    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    padding: 16px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-lg) {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 320px 1fr;
        align-items: start;
        gap: 24px;
    }
}

.group-breadcrumbs-separator {
    font-size: 0.86rem;
    font-weight: 700;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.group-breadcrumb {
    color: black;
    font-size: 0.86rem;
    text-decoration: none;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.group-breadcrumb-current {
    color: grey;
}

@media (hover: hover) {
    .group-breadcrumb:hover:not(.group-breadcrumb-current) {
        text-decoration: underline;
    }
}

.group-breadcrumb:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.menu {
    grid-area: 2 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;
    gap: 6px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: 100%;
    padding: 6px;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 8px;
        padding: 8px;
    }
}

.menu[data-at-base="true"] {
    grid-area: 2 / 1 / -1 / -1;
}

.NavLink-root {
    flex-shrink: 0;
}

@media (hover: hover) {
    .NavLink-root:hover:not(:disabled) {
        /* Overriding default Mantine component hover styles */
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.NavLink-root[data-selected="true"] {
    background-color: rgba(0, 0, 0, 0.1);
}

.NavLink-root:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px;
    border-radius: 0px;
}

.NavLink-label {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.content {
    grid-area: 2 / 2 / -1 / -1;

    width: 100%;
    padding-bottom: 16px;

    @media (min-width: $mantine-breakpoint-lg) {
        padding-bottom: 0px;
    }
}
