.order-history-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-count {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.filter-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    width: 100%;
    height: min-content;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1ch;

    color: black;
    font-size: 1rem;
    font-family: var(--font-primary);
    text-wrap: nowrap;

    min-width: 200px;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
        justify-content: start;
        align-items: center;

        font-size: 1.1rem;
    }
}

.select {
    align-self: center;

    color: black;
    font-size: 1rem;
    font-family: var(--font-primary);
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    width: 100%;
    height: min-content;
    padding: 6px 2px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;

        width: 200px;
    }
}

@media (hover: hover) {
    .select:hover {
        cursor: pointer;
    }
}

.select:focus-visible {
    outline: 2px solid #000;
}

.order-history {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pagination-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.pagination-control {
    color: black;
    font-size: 0.92rem;

    border: none;
    border-radius: 0px;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.pagination-control[data-active] {
    outline: 2px solid rgba(0, 0, 0, 0.9);
}

.pagination-control[data-disabled] {
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));
}

@media (hover: hover) {
    .pagination-control:not([data-disabled]):hover {
        /* Overriding default Mantine component hover styles */
        background-color: var(--site-colour-secondary, rgb(255, 236, 218));
    }
    .pagination-control:not([data-active]):not([data-disabled]):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.pagination-control:not([data-active]):not([data-disabled]):focus-visible {
    outline: 2px solid #000;
}

.pagination-control:not([data-active]):not([data-disabled]):active {
    background-color: rgba(0, 0, 0, 0.1);
}

.no-order-history-message {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}
