.order-history {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.no-order-history-message {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}
