.promotion-panel {
    width: 100%;

    background: linear-gradient(
        90deg,
        rgb(33, 83, 90) 0%,
        rgb(63, 147, 158) 30%,
        rgb(63, 147, 158) 70%,
        rgb(33, 83, 90) 100%
    );
}

.image-container {
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.image {
    position: relative;

    object-fit: cover;
    object-position: 50% 50%;

    width: 100%;
    height: 100%;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        transparent 30%,
        transparent 70%,
        rgba(0, 0, 0, 0.4) 100%
    );

    width: 100%;
    height: 100%;
}

.promotion-panel-inner {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: 100%;
    padding: 48px 16px;
}

.title {
    color: rgb(255, 234, 42);
    font-family: var(--font-primary);
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 4rem;
    }
}

.subcopy {
    color: rgb(255, 234, 42);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;

    padding: 0px 32px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        padding: 0px;
    }
}

.code {
    color: rgb(255, 234, 42);
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;

    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.7);

    padding: 8px 32px;

    strong {
        font-weight: 700;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }
}

.disclaimer {
    position: absolute;
    right: 8px;
    bottom: 8px;

    color: rgb(255, 234, 42);
    font-family: var(--font-primary);
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.8rem;
    }
}
