.subscription-summary {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: 100%;
    padding: 12px;
}

.subscription-product {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.product-thumbnail-image {
    align-self: center;

    width: 120px;
    aspect-ratio: 1;

    @media (min-width: $mantine-breakpoint-xs) {
        width: 160px;
    }

    border: 1px solid #000;
}

.product-information {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 8px;
}

.product-full-name {
    display: block;

    position: relative;

    color: black;
    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

@media (hover: hover) {
    .product-full-name:hover {
        text-decoration: underline;
    }
}

.product-variant-options {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.product-variant-option-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.product-variant-option-name {
    font-family: var(--font-primary);
    font-weight: 500;
}

.product-variant-option-value {
    font-family: var(--font-primary);
}

.price-container {
    font-family: var(--font-primary);
    font-size: 1.04rem;
    font-weight: 400;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.frequency,
.next-delivery-date {
    font-family: var(--font-primary);
    font-size: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;
}
