.cart-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: 120px 1fr;
    }
}

.cart-item-thumbnail-image {
    align-self: center;

    width: 100%;
    aspect-ratio: 1;
}

.cart-item-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 12px;
}

.cart-item-name {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-item-content-middle {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.cart-item-variant-option-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.cart-item-variant-option-name {
    font-family: var(--font-primary);
    font-weight: 500;
}

.cart-item-variant-option-value {
    font-family: var(--font-primary);
}

.cart-item-content-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 4px;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
