.cart-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 12px;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: 120px 1fr;
    }
}

.cart-item-thumbnail-image {
    align-self: center;

    border: 1px solid #000;

    width: 100%;
    aspect-ratio: 1;
}

.cart-item-content {
    display: grid;
    grid-template-rows: auto 1fr repeat(2, auto);
    gap: 12px;
}

.cart-item-name {
    display: inline;
    white-space: normal;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

@media (hover: hover) {
    .cart-item-name:hover {
        text-decoration: underline;
    }
}

.cart-item-name:focus-visible,
.cart-item-name:active {
    outline: 2px solid #000;
    outline-offset: 0px 2px;
    border-radius: 0px;
}

.cart-item-content-middle {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;

    font-size: 0.96rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.cart-item-variant-option-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.cart-item-variant-option-name {
    font-family: var(--font-primary);
    font-weight: 500;
}

.cart-item-variant-option-value {
    font-family: var(--font-primary);
}

.discount-percentage-message {
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 400;
    font-style: italic;

    width: 100%;

    strong {
        font-weight: 600;
        text-wrap: nowrap;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.cart-item-content-bottom {
    grid-area: -2 / 1 / -1 / 1;

    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 4px;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.quantity {
    font-family: var(--font-primary);
    font-size: 0.96rem;
    text-wrap: nowrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}
