.image-carousel {
    --outline-width: 2px;
    --outline-offset: 2px;
    --outline-spacing: calc(var(--outline-width, 2px) + var(--outline-offset, 2px));

    display: flex;
    flex-direction: column;
    gap: calc(8px - var(--outline-spacing, 4px));
}

.carousel-small-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: calc(8px - var(--outline-spacing, 4px));
}

.carousel-small-root {
    display: flex;
    justify-content: center;
    align-items: start;
}

.carousel-small-viewport {
    width: calc(100% + var(--outline-offset, 2px));

    padding: var(--outline-spacing, 4px);
}

.carousel-small-control {
    display: flex;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    background-color: transparent;
    box-shadow: none;

    height: calc(100% - calc(var(--outline-spacing, 4px) * 2));
    margin-top: var(--outline-spacing, 4px);
}

.carousel-small-control:disabled {
    opacity: 0.5;
}

@media (hover: hover) {
    .carousel-small-control:hover {
        cursor: pointer;
    }

    .carousel-small-control:disabled:hover {
        cursor: not-allowed;
    }
}

.carousel-slide {
    cursor: pointer;

    aspect-ratio: 1;
    padding: 0px;
}

.carousel-image-main,
.carousel-image-small {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;

    width: 100%;
    aspect-ratio: 1;
}

.carousel-image-small[data-selected="true"] {
    outline: var(--outline-width, 2px) solid #000;
    outline-offset: var(--outline-offset, 2px);
    background-color: "red";
}

.current-image-number {
    font-family: "Radio Canada Big";
    font-size: 0.86rem;
    font-weight: 500;
    text-align: center;

    width: 100%;
    padding: 0px;
}

.skeleton-root {
    --item-filled-color: "red";
}
.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
