.image-Carousel {
    --outline-width: 2px;
    --outline-offset: 2px;
    --outline-spacing: calc(var(--outline-width, 2px) + var(--outline-offset, 2px));

    display: flex;
    flex-direction: column;
    gap: calc(8px - var(--outline-spacing, 4px));

    margin-bottom: 24px; /* For absolutely-positioned indicators */
}

.Carousel-small-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: calc(8px - var(--outline-spacing, 4px));
}

.Carousel-small-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.Carousel-small-viewport {
    width: calc(100% + var(--outline-offset, 2px));

    padding: var(--outline-spacing, 4px);
}

.Carousel-small-control-skeleton {
    height: calc(100% - calc(var(--outline-spacing, 4px) * 2));
    margin-top: var(--outline-spacing, 4px);
}

.Carousel-small-control {
    display: flex;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: transparent;
    box-shadow: none;

    height: 100%;
}

.Carousel-small-control:disabled {
    opacity: 0.5;
}

@media (hover: hover) {
    .Carousel-small-control:hover {
        cursor: pointer;
    }

    .Carousel-small-control:disabled:hover {
        cursor: not-allowed;
    }
}

.Carousel-small-indicators {
    align-self: center;

    position: absolute;
    bottom: -24px;

    display: flex;
    flex-direction: row;
    gap: 8px;

    max-width: 100%;
    margin-top: 24px;
}

.Carousel-small-indicator {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.2);

    width: 8px;
    aspect-ratio: 1;

    scale: 1 1;
    transition: scale 0.25s ease-in-out;
}

.Carousel-small-indicator[data-active] {
    background-color: rgba(0, 0, 0, 0.7);

    scale: 1.5 1;
}

.Carousel-slide {
    cursor: pointer;

    aspect-ratio: 1;
    padding: 0px;
}

.Carousel-slide:focus-visible {
    outline: var(--outline-width, 2px) solid #000;
    outline-offset: var(--outline-offset, 2px);
    border-radius: 0px;
}

.Carousel-image-main,
.Carousel-image-small {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;

    width: 100%;
    aspect-ratio: 1;
}

.Carousel-image-small[data-selected="true"] {
    outline: var(--outline-width, 2px) solid #000;
    outline-offset: var(--outline-offset, 2px);
    background-color: "red";
}
