.subscriptions {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: $mantine-breakpoint-xl) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.no-subscriptions-message {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}
