.drawer-root {
    position: absolute;
    left: 0;

    --drawer-size: 540px;

    @media (max-width: $mantine-breakpoint-lg) {
        --drawer-size: 480px;
    }
}

.drawer-content {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 244, 238);
}

.drawer-header {
    background-color: rgb(255, 236, 218);
}

.drawer-title {
    font-family: "Radio Canada Big";
    font-size: 1.8rem;
    font-weight: 500;
}

.drawer-body {
    display: grid;
    grid-template-rows: 1fr auto;

    height: 100%;
    padding: 0px;
}

.cart-drawer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 16px;
}

.cart-drawer-bottom {
    display: flex;
    flex-direction: column;

    padding: 16px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: "Radio Canada Big";
    font-size: 1.4rem;
}
