.drawer-root {
    position: absolute;
    left: 0;

    --drawer-size: 480px;

    @media (min-width: $mantine-breakpoint-lg) {
        --drawer-size: 540px;
    }
}

.drawer-content {
    display: grid;
    grid-template-rows: auto 1fr;

    background-color: white;
}

.drawer-header {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.drawer-title {
    font-family: var(--font-primary);
    font-size: 1.64rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }
}

.drawer-body {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 0;
    height: 100%;
    padding: 0px;
}

@media (hover: hover) {
    .drawer-close:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.drawer-close:focus-visible,
.drawer-close:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.cart-drawer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;

    overflow-y: auto;

    padding: 16px;
}

.cart-drawer-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-primary);
    font-size: 1.28rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

.checkout-button-root {
    --button-height: 3rem;
}

.checkout-button-label {
    font-family: var(--font-primary);
    font-size: 1.1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}
