.drawer-root {
    position: absolute;
    left: 0;
}

.drawer-content {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 244, 238);
}

.drawer-header {
    background-color: rgb(255, 236, 218);
}

.drawer-title {
    font-family: "Radio Canada Big";
    font-size: 1.8rem;
    font-weight: 500;
}

.drawer-body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 8px;
}
