.drawer-root {
    position: absolute;
    left: 0;
}

.drawer-content {
    display: flex;
    flex-direction: column;

    background-color: rgb(250, 244, 238);
}

.drawer-header {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.drawer-body {
    padding: 0px;
}
