.price-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 2rem;
}

.price-container[data-size="xl"] {
    font-size: 2rem;
}

.price-container[data-size="lg"] {
    font-size: 1.5rem;
}

.price-container[data-size="md"] {
    font-size: 1.1rem;
}

.price-container[data-size="sm"] {
    font-size: 0.92rem;
}

.price-container[data-size="xs"] {
    font-size: 0.86rem;
}

.price-current {
    color: black;
}

.price-base {
    color: grey;
    text-decoration: line-through;
}

.price-discount-percentage {
    color: rgb(40, 190, 20);
}
