.category-products-sort {
    display: flex;
    justify-content: end;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    color: black;
    font-size: 0.92rem;
    font-family: var(--font-primary);

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.select {
    align-self: center;

    color: black;
    font-size: 0.92rem;
    font-family: var(--font-primary);
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    height: min-content;
    padding: 6px 2px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

@media (hover: hover) {
    .select:hover {
        cursor: pointer;
    }
}

.select:focus-visible {
    outline: 2px solid #000;
}
