.product-hero-step {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-hero-step-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.94rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.product-hero-step-title::first-letter {
    text-transform: capitalize;
}

.product-hero-step-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.product-hero-step-dot-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    text-wrap: wrap;

    outline-offset: 2px;
    border: none;
    border-radius: 4px;
    background: none;

    width: 100%;
    max-width: 60px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.product-hero-step-dot-button[data-selected="true"] {
    pointer-events: none;
}

.product-hero-step-dot {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    border-radius: 4px;

    width: 40px;
    height: 40px;

    transition: outline linear 0.16s;
}

.product-hero-step-text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    text-wrap: wrap;

    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid black;
    border-radius: 4px;
    background: none;

    padding: 4px 8px;

    transition: outline linear 0.16s;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.product-hero-step-dot-button:focus-visible,
.product-hero-step-text-button:focus-visible {
    outline: 2px solid #000;
}

.product-hero-step-dot-button[data-selected="true"] .product-hero-step-dot,
.product-hero-step-text-button[data-selected="true"] {
    outline-color: black;

    transition-duration: 0s;
}

@media (hover: hover) {
    .product-hero-step-dot-button:hover .product-hero-step-dot,
    .product-hero-step-text-button:hover {
        outline-color: black;
    }
}
