.variant-step {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.variant-step-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.94rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.variant-step-title::first-letter {
    text-transform: capitalize;
}

.variant-step-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.variant-step-text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    text-wrap: wrap;

    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid black;
    border-radius: 4px;
    background: none;

    padding: 4px 8px;

    transition: outline linear 0.16s;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.variant-step-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    text-wrap: wrap;

    outline-offset: 2px;
    border: none;
    border-radius: 4px;
    background: none;

    width: 100%;
    max-width: 60px;
    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.variant-step-color[data-selected="true"] {
    pointer-events: none;
}

.variant-step-color-box {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    border-radius: 4px;

    width: 40px;
    aspect-ratio: 1;

    transition: outline linear 0.16s;
}

.variant-step-text[data-selected="true"],
.variant-step-color[data-selected="true"] .variant-step-color-box {
    outline-color: black;

    transition-duration: 0s;
}

@media (hover: hover) {
    .variant-step-text:hover:not(:disabled),
    .variant-step-color:hover:not(:disabled) .variant-step-color-box {
        outline-color: black;
    }
}

.variant-step-text:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
