.variant-step {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.variant-step-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.94rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.variant-step-title::first-letter {
    text-transform: capitalize;
}

.checkbox-root {
    width: 100%;
}

.checkbox-body {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;

    width: 100%;
}

.checkbox-input {
    outline: 3px solid transparent;
    outline-offset: -1px;
    border: 1px solid black;
    border-radius: 4px;
    background: none;

    transition: outline linear 0.16s;
}

@media (hover: hover) {
    .checkbox-root:hover * {
        cursor: pointer;
    }

    .checkbox-root:hover .checkbox-input {
        outline-color: black;
    }
}

.checkbox-input:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.checkbox-label {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;

    width: 100%;
    padding-left: 4px;
}

.variant-step-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 4px;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 8px;
    }
}

.variant-step-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    text-wrap: wrap;

    outline: 3px solid transparent;
    outline-offset: -1px;
    border: 1px solid black;
    border-radius: 4px;
    background: none;

    padding: 4px 8px;

    transition: outline linear 0.16s;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.variant-step-color {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    text-wrap: wrap;

    outline-offset: 2px;
    border: none;
    border-radius: 4px;
    background: none;

    width: 100%;
    max-width: 60px;
    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.variant-step-color[data-selected="true"] {
    pointer-events: none;
}

.variant-step-color[data-out-of-stock="true"] {
    opacity: 0.3;
}

.variant-step-color-box {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: none;
    border-radius: 4px;

    width: 36px;
    aspect-ratio: 1;

    transition: outline linear 0.16s;

    @media (min-width: $mantine-breakpoint-xs) {
        width: 40px;
    }
}

.variant-step-color-box::before {
    content: "";
    display: block;

    position: relative;
    z-index: -1;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);

    width: 36px;
    aspect-ratio: 1;

    @media (min-width: $mantine-breakpoint-xs) {
        width: 40px;
    }
}

.variant-step-text[data-selected="true"],
.variant-step-color[data-selected="true"] .variant-step-color-box {
    outline-color: black;

    transition-duration: 0s;
}

@media (hover: hover) {
    .variant-step-text:hover:not(:disabled),
    .variant-step-color:hover:not(:disabled) .variant-step-color-box {
        outline-color: black;
    }
}

.variant-step-text:focus-visible {
    outline-color: black;
    border-radius: 0px;
}
