.filter-radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.filter-value-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.filter-value-count {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.radio-root {
    width: 100%;
}

.radio-body {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;
}

.radio {
    border: 2px solid black;
    background-color: transparent;
}

@media (hover: hover) {
    .filter-radio[data-disabled="false"] .radio-root:hover * {
        cursor: pointer;
    }

    .filter-radio[data-disabled="false"] .radio-root:hover .radio {
        outline: 2px solid black;
    }
}

.radio:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.radio-label {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;

    width: 100%;
    padding-left: 4px;
}
