.recommended-products {
    width: 100%;
    padding: 32px 0px;
}

.recommended-products-width-controller {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 1280px;
    padding: 16px;
    margin: auto;

    @media (max-width: $mantine-breakpoint-xl) {
        max-width: 1024px;
    }

    @media (max-width: $mantine-breakpoint-lg) {
        max-width: 768px;
    }

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 640px;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100%;
    }
}

.recommended-products-title {
    font-family: var(--font-primary);
    font-size: 2.2rem;
    font-weight: 500;
}

.carousel-root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.carousel-container {
    align-self: start;
}

.carousel-indicators {
    align-self: center;

    position: initial;

    display: flex;
    flex-direction: row;
    gap: 0px;
}

.carousel-indicator {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.2);

    width: 40px;
    height: 3px;
}

.carousel-indicator[data-active] {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-slide {
    cursor: pointer;

    padding: 2px 0px 0px;
}
