.recommended-products {
    display: flex;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.recommended-products-width-controller {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-sm) {
        max-width: 640px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        max-width: 768px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        max-width: 1024px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        max-width: 1280px;
    }
}

.recommended-products-title {
    font-family: var(--font-primary);
    font-size: 1.9rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.2rem;
    }
}

.Carousel-root {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Carousel-container {
    align-self: start;
}

.Carousel-viewport {
    padding: 4px;
}

.Carousel-indicators {
    align-self: center;

    position: initial;

    display: flex;
    flex-direction: row;
    gap: 0px;

    max-width: 100%;
}

.Carousel-indicator {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.2);

    width: 40px;
    height: 3px;
}

.Carousel-indicator[data-active] {
    background-color: rgba(0, 0, 0, 0.7);
}

.Carousel-slide {
    cursor: pointer;

    padding: 2px 0px 0px;
}
