.subscription-toggle {
    overflow: hidden;

    border-radius: 4px;

    margin-bottom: 12px;
}

.radio-card {
    display: flex;
    flex-direction: column;

    border: none;
    border-radius: 0px;
}

.radio-card:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 0px;
}

.radio-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 12px;
}

.radio-indicator {
    border: 1px solid black;
    background-color: transparent;

    cursor: pointer;
}

.radio-label {
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }

    strong {
        font-weight: 600;
    }
}

.radio-card-middle {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    padding: 12px;
}

.update-delivery-frequency-label {
    position: relative;
    left: 1px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    color: black;
    font-size: 0.86rem;
    font-family: var(--font-primary);
    font-weight: 500;

    width: calc(100% - 2px);

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.select {
    color: black;
    font-size: 0.86rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    width: 100%;
    max-width: 320px;
    height: min-content;
    padding: 6px 2px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.select:focus-visible {
    outline: 2px solid black;
    border-radius: 0px;
}

.repeat-delivery-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: black;
    font-size: 0.86rem;
    font-family: var(--font-primary);

    list-style: disc outside;

    padding-left: 20px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }

    strong {
        font-weight: 600;
    }
}
