.radio-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    border: none;
    border-radius: 4px;
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 12px;
    margin-bottom: 12px;
}

.radio-card:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 0px;
}

.radio-indicator {
    border: 1px solid black;
    background-color: transparent;

    cursor: pointer;
}

.radio-label {
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }

    strong {
        font-weight: 600;
    }
}
