.checkout-details-section {
    scroll-margin: 16px;
}

.panel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;
}

.panel-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.checkout-details-section-content {
    padding: 12px 0px;
}

.form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name-fields-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-field-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-description {
    font-family: var(--font-primary);
}

.form-field-input {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.next-stage-button {
    display: flex;
    align-self: start;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        align-self: end;

        font-size: 0.92rem;
    }
}

.next-stage-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
