.form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name-fields-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-field-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.next-stage-button {
    display: flex;
    align-self: end;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
