.filter-strings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.filter-value-string {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    border: none;
    background-color: transparent;

    padding: 0px;
}

.filter-value-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.filter-value-count {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.84rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.checkbox-root {
    width: 100%;
}

.checkbox-body {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;
}

.checkbox-input {
    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;
}

@media (hover: hover) {
    .filter-strings[data-disabled="false"] .checkbox-root:hover * {
        cursor: pointer;
    }

    .filter-strings[data-disabled="false"] .checkbox-root:hover .checkbox-input {
        outline: 2px solid black;
    }
}

.checkbox-input:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.checkbox-label {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;

    width: 100%;
    padding-left: 4px;
}
