.product-card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    text-decoration: none;

    width: 100%;
    height: min-content;

    opacity: 0;
    translate: 0px 40px;
    transition:
        opacity 0.5s ease-out 0.2s,
        translate 0.5s ease-out 0.2s;
}

.product-card:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 0px;
}

.product-card[data-visible="true"] {
    opacity: 1;
    translate: 0px;
}

.product-card-image-container {
    position: relative;

    width: 100%;
    aspect-ratio: 1;

    border: 1px solid #000;
}

.product-image {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
}

.product-information-banner {
    position: absolute;
    top: -4px;
    right: 8px;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    background-color: pink;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    padding: 4px 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.product-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.08rem;
    }
}

.product-card-attribute-container {
    display: grid;
}

.Tooltip {
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.product-card-attribute-value-button,
.product-card-attribute-value-remainder {
    position: relative;
    z-index: 1;

    border: none;
    background-color: transparent;

    padding: 0px;
}

.product-card-attribute-value-button {
    pointer-events: all;
}

@media (hover: hover) {
    .product-card-attribute-value-button:not(:disabled):hover {
        cursor: pointer;
    }

    .product-card-attribute-value-button:not(:disabled):hover
        .product-card-attribute-value-color-box {
        outline: 2px solid black;
    }
}

.product-card-attribute-value-button:focus-visible {
    outline: 2px solid #000;
}

.product-card-attribute-value-color-box,
.product-card-attribute-value-color-box::before {
    border-radius: 4px;

    width: 100%;
    aspect-ratio: 1;
}

.product-card-attribute-value-color-box::before {
    content: "";
    display: inline;

    position: relative;
    z-index: -1;

    outline: 2px solid black;
    outline-offset: -3px;
}

.product-card-attribute-value-remainder {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 600;
}

.product-card-rating-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.product-rating-value,
.product-rating-quantity {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.product-rating-value {
    font-weight: 600;
}
