.product-card {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 8px;

    text-decoration: none;

    width: 100%;
    height: 100%;

    opacity: 0;
    translate: 0px 40px;
    transition:
        opacity 0.5s ease-out 0.2s,
        translate 0.5s ease-out 0.2s;
}

.product-card[data-visible="true"] {
    opacity: 1;
    translate: 0px;
}

.product-card-image-container {
    position: relative;

    width: 100%;
    aspect-ratio: 1;

    border: 1px solid #000;
}

.product-image {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);
}

.product-information-banner {
    position: absolute;
    top: -4px;
    right: 8px;

    color: black;
    font-size: 0.9rem;

    background-color: pink;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    padding: 4px 8px;
}

.product-name {
    color: black;
    font-size: 1.08rem;
    font-weight: 600;
}

.product-card-price-container {
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 0.92rem;
}

.product-price-current {
    color: black;
}

.product-price-base {
    color: grey;
    text-decoration: line-through;
}

.product-price-discount-percentage {
    color: rgb(40, 190, 20);
}

.product-card-rating-container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.product-rating-value,
.product-rating-quantity {
    color: black;
    font-size: 0.85rem;
}

.product-rating-value {
    font-weight: 600;
}
