.forms-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    font-family: "Radio Canada Big";
    font-size: 2rem;
}

.address {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
}

.address-line {
    font-family: "Radio Canada Big";
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
