.modal-inner {
    padding: 16px;
}

.modal-header {
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 16px;
}

.modal-content-thin,
.modal-content-wide {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    min-width: 100%;
}

.modal-content-thin {
    @media (min-width: $mantine-breakpoint-xs) {
        min-width: 448px; /* 'xs' breakpoint width minus 2 * padding = 480px - (2 * 16px) = 448px */
    }
}

.modal-content-wide {
    @media (min-width: $mantine-breakpoint-md) {
        min-width: 736px; /* 'md' breakpoint width minus 2 * padding = 768px - (2 * 16px) = 736px */
    }
}

.modal-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.2rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    padding: 16px;
}

.schedule-modal-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    text-wrap: wrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.legend {
    font-family: var(--font-primary);
    font-size: 1rem;

    padding-top: 4px;
    margin-bottom: 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1ch;
    }
}

.Quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1ch;

    color: black;
    font-size: 0.92rem;
    font-family: var(--font-primary);

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: black;
    font-size: 0.92rem;
    font-family: var(--font-primary);

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.select {
    align-self: center;

    color: black;
    font-size: 0.92rem;
    font-family: var(--font-primary);
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    width: 100%;
    height: min-content;
    padding: 6px 2px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.select:focus-visible {
    outline: 2px solid black;
    border-radius: 0px;
}

@media (hover: hover) {
    .modal-close:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.modal-close:focus-visible {
    outline: 2px solid black;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-close:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.button {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
