.coffee-blend-info-panels {
    display: flex;
    justify-content: center;

    overflow: hidden;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.coffee-blend-info-panels-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 32px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 0px;
    margin: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
    padding: 0px 16px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-xs) {
        max-width: 400px;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        max-width: 540px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        max-width: 600px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        max-width: 680px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        max-width: 800px;
    }
}

.intro-title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2rem;
    }
}

.intro-description {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(48, 48, 48);
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.Carousel-wrapper {
    position: relative;

    display: flex;
    align-items: center;

    overflow: visible;

    width: calc(100% - 32px);
    margin: 0px 16px;
}

.Carousel-root {
    --Carousel-slide-padding: 16px;

    width: 100%;
    max-width: calc(100% - var(--Carousel-slide-padding, 16px) * 2);
    padding: 0px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-xs) {
        max-width: calc(440px - var(--Carousel-slide-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-sm) {
        max-width: calc(560px - var(--Carousel-slide-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-md) {
        max-width: calc(680px - var(--Carousel-slide-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-lg) {
        max-width: calc(800px - var(--Carousel-slide-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-xl) {
        max-width: calc(900px - var(--Carousel-slide-padding, 16px) * 2);
    }
}

.Carousel-viewport {
    overflow: visible;
}

.Carousel-slide {
    scale: 100%;
    opacity: 1;
    transition:
        opacity 0.25s ease-in-out,
        scale 0.25s ease-out;
}

.Carousel-slide:not([data-selected="true"]) {
    scale: 95%;
    opacity: 0.4;
}

.Carousel-control-left,
.Carousel-control-right {
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(173, 90, 12);

    border: none;
    border-radius: 50%;
    background-color: var(--site-colour-tertiary, rgb(247, 204, 164));
    box-shadow: none;

    width: 32px;
    aspect-ratio: 1;

    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.Carousel-control-left {
    left: 16px;
}

.Carousel-control-right {
    right: 16px;
}

.Carousel-control-left:disabled,
.Carousel-control-right:disabled {
    opacity: 0;
}

@media (hover: hover) {
    .Carousel-control-left:hover,
    .Carousel-control-right:hover {
        cursor: pointer;
    }

    .Carousel-control-left:disabled:hover,
    .Carousel-control-right:disabled:hover {
        cursor: not-allowed;
    }
}

.Carousel-indicators {
    align-self: center;

    position: initial;

    display: flex;
    flex-direction: row;
    gap: 8px;

    max-width: 100%;
    margin-top: 24px;
}

.Carousel-indicator {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.2);

    width: 8px;
    aspect-ratio: 1;

    scale: 1 1;
    transition: scale 0.25s ease-in-out;
}

.Carousel-indicator[data-active] {
    background-color: rgba(0, 0, 0, 0.7);

    scale: 1.5 1;
}
