.coffee-blend-info-panels {
    display: flex;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.coffee-blend-info-panels-width-controller {
    box-sizing: border-box;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 0px;
    margin: auto;
}
