.navigation {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: end;
    align-items: center;
    gap: 64px;

    width: 100%;
    height: 40px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;

    border: 2px solid black;

    height: 40px;
}

.other-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;

    border: 2px solid black;

    height: 40px;
}

.option {
    font-weight: 700;
    text-wrap: nowrap;

    padding: 4px;
}
