.navigation {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    justify-content: end;
    align-items: center;
    gap: 16px;

    width: 100%;
    height: min-content;
}

.other-links {
    grid-area: 1 / 2 / 2 / -1;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;

    border: 2px solid black;

    width: 100%;
    height: 40px;
}

.categories {
    grid-area: 2 / 1 / -1 / -1;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;

    border: 2px solid black;

    height: 40px;
}

.option {
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    text-wrap: nowrap;

    padding: 4px;
}
