.product-information {
    display: flex;
    justify-content: center;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.product-information-width-controller {
    box-sizing: border-box;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
}

.accordion-control {
    padding: 0px;
}

@media (hover: hover) {
    .accordion-control:hover {
        /* Overriding default Mantine component hover styles */
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.accordion-control:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.accordion-control:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion-item {
    --item-border-color: rgba(0, 0, 0, 0.6);
}

.accordion-content {
    padding: 4px 0px 12px;
}

.accordion-label {
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.accordion-panel {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.04rem;
    }
}

.markdown-container {
    * {
        font-family: var(--font-primary);
        font-size: 0.92rem;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1rem;
        }
    }

    p {
        margin-bottom: revert;
    }
    p:nth-last-child(-n + 1) {
        margin-bottom: 0px;
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }
}

.details-table {
    --table-border-color: rgba(0, 0, 0, 0.6);
}

.details-table-tbody {
    border: 1px solid var(--table-border-color, rgba(0, 0, 0, 0.6));
}

.details-table-tr {
    display: grid;
    grid-template-columns: 160px 1fr;
    min-width: 100%;
}

.details-table-th {
    font-size: 0.86rem;

    background-color: rgba(0, 0, 0, 0.08);

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.details-table-td {
    font-size: 0.86rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.delivery-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delivery-information-segment {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.delivery-information-segment-title {
    font-size: 1rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.delivery-information-segment-information {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 0.92rem;

    strong {
        font-weight: 600;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}
