.product-information {
    width: 100%;
}

.product-information-width-controller {
    box-sizing: border-box;

    width: 100%;
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.accordion-control {
    padding: 0px;
}

@media (hover: hover) {
    .accordion-control:hover {
        background-color: transparent; /* Overriding default Mantine component hover styles */
    }
}

.accordion-content {
    padding: 4px 0px 12px;
}

.accordion-label {
    font-family: "Radio Canada Big";
    font-size: 1.6rem;
    font-weight: 500;
}

.accordion-panel {
    font-family: "Radio Canada Big";
    font-size: 1.04rem;
}

.delivery-information {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delivery-information-segment {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.delivery-information-segment-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.delivery-information-segment-information {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 1rem;

    strong {
        font-weight: 600;
    }
}
