.modal-inner {
    justify-self: center;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
}

.modal-content {
    align-self: end;

    border-radius: 0px;

    max-width: 768px;
}

.modal-header,
.modal-body {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (hover: hover) {
    .modal-close:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.modal-close:focus-visible,
.modal-close:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-close:focus-visible {
    outline: 2px solid black;
    border-radius: 0;
}

.header {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

.modal-body p {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.modal-body a {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

@media (hover: hover) {
    .modal-body a:hover {
        text-decoration: none;
    }
}

.modal-body a:focus-visible {
    outline: 2px solid black;
    border-radius: 0;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 12px;

    width: 100%;
}

.button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;
    padding: 0px 12px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;

        padding: 0px 18px;
    }
}

.button:focus-visible {
    outline: 2px solid black;
    border-radius: 0;
}
