.modal-inner {
    justify-self: center;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
}

.modal-content {
    align-self: end;

    border-radius: 0px;

    max-width: 768px;
}

.modal-header,
.modal-body {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

@media (hover: hover) {
    .modal-close:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.modal-close:focus-visible,
.modal-close:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-close:focus-visible {
    outline: 2px solid black;
    border-radius: 0;
}
