.category-products-sort-and-filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}
