.category-products-filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.Accordion-control {
    padding: 8px 4px;
}

.Accordion-label {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.Accordion-content {
    padding: 6px 4px 12px;
}
