.category-products-filters {
    position: sticky;

    display: flex;
    flex-direction: column;

    height: min-content;
    max-height: calc(var(--vh, 1vh) * 100);
    padding: 16px 0px 0px;

    transition: top 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);
}

.category-products-filters.shifted {
    transition: top 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
}

.Accordion-root {
    overflow: -moz-scrollbars-vertical;
    overflow-y: auto;

    height: min-content;
    padding: 0px 4px 16px 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        flex-direction: column;
    }
}

.Accordion-root > .Accordion-item:last-child {
    border: none;
}

.title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 600;

    margin-bottom: 8px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.Accordion-control {
    padding: 8px 4px;
}

.Accordion-label {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.Accordion-content {
    padding: 6px 4px 12px;
}
