.variant-alerts-container {
    display: flex;
    flex-direction: column;
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}

.alert-root {
    padding: 12px;

    margin-bottom: 12px;
}

.alert-wrapper {
    gap: 12px;
}

.alert-body {
    align-self: center;
}

.alert-icon {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0px;
    margin: 0px;
}

.alert-title {
    font-size: 1rem;
}
