.form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 640px;
}

.edit-button {
    position: absolute;
    right: 0px;

    border-radius: 4px;

    width: min-content;
}

.fieldsets-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.legend {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 500;

    padding-top: 4px;
    margin-bottom: 20px;
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field-input {
    font-size: 0.9rem;
    font-weight: 400;

    background-color: transparent;
}

.form-field-label {
    font-size: 0.96rem;

    background-color: transparent;
}

.additional-field-errors-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.submit-button {
    display: flex;

    border-radius: 4px;

    width: min-content;
}
