.order-summary {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    gap: 16px;

    background-color: rgb(250, 223, 198);

    padding: 12px;
}

.order-no,
.total,
.order-date {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-family: var(--font-primary);
    font-size: 0.96rem;

    strong {
        font-weight: 600;
        text-wrap: nowrap;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: rgb(255, 236, 218);

    padding: 12px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: var(--font-primary);
    font-size: 1.04rem;
    font-weight: 500;
    text-wrap: nowrap;
}

.expected-date {
    font-family: var(--font-primary);
    font-size: 0.96rem;
    font-weight: 400;
    text-wrap: nowrap;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordion-control {
    padding: 12px;
}

.accordion-item {
    --item-border-color: transparent;

    background-color: rgb(250, 223, 198);
}

@media (hover: hover) {
    .accordion-control:hover {
        /* Overriding default Mantine component hover styles */
        background-color: rgb(250, 223, 198);
    }
}
.accordion-control:focus {
    /* Overriding default Mantine component focus styles */
    background-color: rgb(250, 223, 198);
}

.accordion-label {
    font-family: var(--font-primary);
    font-size: 1.08rem;

    padding: 0px;
}

.accordion-panel {
    padding: 0px;
}

.accordion-content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 32px;

    padding: 8px 12px 12px;
}

.details-title {
    font-family: var(--font-primary);
    font-size: 1.04rem;
    font-weight: 500;

    margin-bottom: 6px;
}

.addresses {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.address-line {
    font-family: var(--font-primary);
    font-size: 0.96rem;
}

.cost-breakdown {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cost-breakdown-line {
    font-family: var(--font-primary);
    font-size: 0.96rem;
}

.total-cost {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;

    margin-top: 6px;
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
