.order-summary {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    gap: 16px;

    background-color: rgb(250, 223, 198);

    padding: 12px;
}

.order-no,
.total,
.order-date {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-family: var(--font-primary);
    font-size: 0.96rem;

    strong {
        font-weight: 600;
        text-wrap: nowrap;
    }
}

.content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 16px;

    background-color: rgb(255, 236, 218);

    padding: 12px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: var(--font-primary);
    font-size: 1.04rem;
    font-weight: 500;
    text-wrap: nowrap;
}

.expected-date {
    font-family: var(--font-primary);
    font-size: 0.96rem;
    font-weight: 400;
    text-wrap: nowrap;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
