.account-creation-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 0px;
}

.account-creation-form-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 410px;
    padding: 16px;
    margin: auto;
}

.page-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
}

.create-account {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    padding: 8px;
}

.oauth-options {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

.or-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.or {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;

    padding: 0px 8px;
}

.alt-signup-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;

    padding: 8px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
}

.form-field-label {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.form-field-input {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.form-field-input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.terms-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.8rem;
    text-align: center;

    width: 100%;
}

.sign-up-button {
    font-family: var(--font-primary);
    font-size: 1rem;
}

.login-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.96rem;
    font-weight: 500;
    text-align: center;

    width: 100%;
}
