.create-account {
    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid #000;
    border-radius: 4px;

    width: 480px;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.terms-message {
    font-size: 0.7rem;
    text-align: center;

    width: 100%;
}

.or-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.or {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;

    padding: 0px 8px;
}

.alt-signup-message {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
