.hero {
    position: relative;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    width: min(var(--body-width), 100%);
    height: 100%;
    min-height: 640px;
}

.hero-main-image-container {
    position: relative;

    width: 100%;
    height: 100%;
    min-height: 640px;
}

.hero-image-main {
    object-fit: cover;
    object-position: 50% 50%;

    width: 100%;
    height: 100%;
    min-height: 640px;
}

.hero-image-cover {
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        transparent 10%,
        transparent 90%,
        rgba(0, 0, 0, 0.4) 100%
    );

    width: 100%;
    height: 100%;
}

.hero-width-controller {
    align-self: center;

    box-sizing: border-box;

    position: absolute;
    top: 0px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 0px;
    margin: auto;
}

.hero-title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    max-width: 42%;
    margin: 0% 10%;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 48px;
    }
}

.hero-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.2rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.8rem;
    }
}

.hero-subcopy {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

.hero-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px 12px;

    padding-bottom: 32px;
    margin: 32px 7% 0px 7%;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 12px 24px;

        margin: 32px 10% 0px 10%;
    }
}

.shop-samples-button,
.shop-full-range-button {
    color: white;
    font-family: var(--font-primary);
    font-size: 0.88rem;
    text-align: center;

    background-color: #242424;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);

    padding: 0px 16px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;

        padding: 0px 32px;
    }
}

.shop-samples-button:focus-visible,
.shop-full-range-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.hero[data-layout="thin"] {
    .hero-image-main {
        object-position: 50% 0%;
    }

    .hero-width-controller {
        justify-content: space-between;

        padding-top: calc(var(--vh, 1vh) * 10);
        padding-bottom: calc(var(--vh, 1vh) * 5);
    }

    .hero-title-container {
        text-align: center;

        max-width: 80%;
    }

    .hero-heading,
    .hero-subcopy {
        color: white;
        text-shadow: rgba(255, 255, 255, 0.2) 1px 0 10px;
    }

    .hero-links-container {
        justify-content: center;
    }

    .shop-samples-button,
    .shop-full-range-button {
        color: #242424;
        text-shadow: rgba(255, 255, 255, 0.2) 1px 0 10px;

        background-color: #f5f5f5;
    }

    .shop-samples-button:focus-visible,
    .shop-full-range-button:focus-visible {
        outline-color: #fff;
    }
}
