.hero {
    position: relative;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    width: min(var(--body-width), 100%);
    height: 100%;
    min-height: 640px;
}

.hero-main-image-container {
    position: relative;

    width: 100%;
    height: 100%;
    min-height: 640px;
    max-height: 900px;
}

.hero-image-main {
    object-fit: cover;
    object-position: 50% 50%;

    width: 100%;
    height: 100%;
    min-height: 640px;
    max-height: 900px;
}

.hero-image-cover {
    position: absolute;
    top: 0;
    left: 0;

    /*
    background: linear-gradient(
        0deg,
        var(--site-colour-primary, rgb(255, 249, 243)) 0%,
        transparent 20%,
        transparent 80%,
        var(--site-colour-secondary, rgb(255, 236, 218)) 100%
    );
    */

    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        transparent 10%,
        transparent 90%,
        rgba(0, 0, 0, 0.4) 100%
    );

    width: 100%;
    height: 100%;
}

.hero-width-controller {
    align-self: center;

    box-sizing: border-box;

    position: absolute;
    top: 0px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 0px;
    margin: auto;
}

.hero-title-container {
    display: flex;
    flex-direction: column;
    gap: 48px;

    width: 100%;
    max-width: 42%;
    margin-left: 10%;
}

.hero-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.5rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.8rem;
    }
}

.hero-subcopy {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.2rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.4rem;
    }
}

.hero-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px 12px;

    padding-bottom: 32px;
    margin: 32px 10% 0px 10%;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 12px 24px;
    }
}

.shop-samples-button,
.shop-full-range-button {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    text-align: center;

    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);

    padding: 0px 32px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.96rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        font-size: 1rem;
    }
}

.shop-samples-button:focus-visible,
.shop-full-range-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
