.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 0px;
}

.error-page[data-height="page"] {
    min-height: calc(var(--vh, 1vh) * 100);
}

.error-page[data-height="fill"] {
    height: 100%;
}

.error-page-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;
    padding: 16px;
    margin: auto;
}

.header {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2rem;
    }
}

.link {
    font-family: var(--font-primary);
    font-size: 1.35rem;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.5rem;
    }
}
