.subscription-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: auto 1fr;
    }
}

.product-thumbnail-image {
    align-self: center;

    width: 240px;
    aspect-ratio: 1;

    @media (min-width: $mantine-breakpoint-xs) {
        width: 160px;
    }

    border: 1px solid #000;
}

.product-information {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 8px;
}

.product-full-name {
    display: inline;
    white-space: normal;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

@media (hover: hover) {
    .product-full-name:hover {
        text-decoration: underline;
    }
}

.product-full-name:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.product-variant-options {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.product-variant-option-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.product-variant-option-name {
    font-family: var(--font-primary);
    font-weight: 500;
}

.product-variant-option-value {
    font-family: var(--font-primary);
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price-base,
.price-current,
.price-discount-percentage {
    font-family: var(--font-primary);
    font-size: 1.04rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.discount-percentage-message {
    font-family: var(--font-primary);
    font-size: 0.84rem;
    font-weight: 400;
    font-style: italic;

    width: 100%;

    strong {
        font-weight: 600;
        text-wrap: nowrap;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
