.page {
    display: grid;
    grid-template-rows: auto 1fr auto;

    background-color: var(--site-colour-primary, rgb(255, 249, 243));

    max-width: min(var(--body-width), 100%);
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(var(--body-width), 100%);
    padding: 32px 0px;
}

.page-content-width-controller {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 48px;

    width: min(var(--body-width), 100%);
    max-width: 1280px;
    height: 100%;
    padding: 0px 16px;
    margin: auto;
}

.heading-container {
    align-self: center;

    position: relative;

    width: fit-content;
}

.symbol {
    position: absolute;
    top: 50%;
    left: 0px;

    transform: translate(-50%, -50%);
}

.title {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.8rem;
    }
}

.content-container {
    align-self: center;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    * {
        color: black;
        font-family: var(--font-primary);
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 500;

        margin-bottom: 12px;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1.4rem;
        }
    }

    p {
        font-size: 0.96rem;

        margin-bottom: 6px;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1.1rem;
        }
    }

    strong {
        font-weight: 700;
    }
}

.content-inner-container {
    position: relative;

    display: flex;
    flex-direction: column;
}
