.forms-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    font-family: "Radio Canada Big";
    font-size: 2rem;
}

.full-name,
.phone-number,
.date-of-birth,
.email-address {
    display: flex;
    flex-wrap: nowrap;

    font-family: "Radio Canada Big";
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.skeleton-root::before {
    background-color: rgba(0, 0, 0, 0.06);
}
.skeleton-root::after {
    background-color: rgba(0, 0, 0, 0.16);
}
