.account-settings-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    font-family: var(--font-primary);
    font-size: 1.8rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2rem;
    }
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.full-name,
.phone-number,
.date-of-birth,
.email-address {
    display: flex;
    flex-wrap: nowrap;

    font-family: var(--font-primary);
    font-size: 1rem;
    text-wrap: nowrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}
