.checkout-details-section {
    scroll-margin: 16px;
}

.panel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;
}

.panel-title {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.checkout-details-section-content {
    padding: 12px 0px;
}

.form {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous-stage-button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.previous-stage-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
