.checkout-details-section-content {
    padding: 12px 0px;
}

.form {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previous-stage-button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}
