.form {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 640px;
}

.edit-button {
    position: absolute;
    right: 0px;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.fieldsets-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.legend {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 500;

    padding-top: 4px;
    margin-bottom: 20px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.additional-field-errors-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.submit-button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.edit-button:focus-visible,
.submit-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
