.header {
    top: 0px;
    z-index: 100;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: min(calc(var(--vw) * 100), 100%);
    height: min-content;

    transition: transform 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
    will-change: transform;
}

.header[data-active="true"][data-open="false"] {
    transform: translateY(-100%);

    transition: transform 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);
}

.header-width-controller {
    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;

    margin: auto;
}
