.header {
    position: sticky;
    top: 0px;
    z-index: 100;

    background-color: rgb(255, 236, 218);

    width: 100%;
    height: min-content;

    transition: transform 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
    will-change: transform;
}

.header.active.closed {
    transform: translateY(-100%);

    transition: transform 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);
}

.header-width-controller {
    width: 100%;
    max-width: 1280px;
    padding: 16px 16px 4px;
    margin: auto;

    @media (max-width: $mantine-breakpoint-lg) {
        padding: 16px;
    }
}
