.base {
    position: relative;
}

.background {
    position: absolute;
    top: 0px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: 100%;
}

.header {
    z-index: 100;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: min(calc(var(--vw) * 100), 100%);
    height: min-content;

    transition: top 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
    will-change: top;
}

.header[data-active="true"][data-open="false"] {
    transition: top 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);
}

.header-width-controller {
    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1280px;

    margin: auto;
}
