.header {
    position: fixed;
    top: 0;

    background-color: rgb(255, 218, 115);

    width: 100%;
    height: min-content;
    padding: 16px 16px 4px;

    @media (max-width: $mantine-breakpoint-lg) {
        padding: 16px;
    }
}

.header.closed {
    translate: 0% -100%;
}
