.cart-summary {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    padding: 16px;
}

.cart-summary[data-layout="dropdown"] {
    position: sticky;
    top: 0;

    z-index: 1;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 0px;
}

.cart-summary-top {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-summary-header {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.44rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.6rem;
    }
}

.edit-cart-link {
    position: absolute;
    top: -0.3rem;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;

    color: white;
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 500;
    text-decoration: none;

    border-radius: 4px;
    background-color: #303030;

    min-height: 2rem;
    padding: 0px 18px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

@media (hover: hover) {
    .edit-cart-link:hover {
        background-color: #2b2b2b;
    }
}

.edit-cart-link:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.edit-cart-link[data-disabled="true"] {
    pointer-events: none;
    cursor: default;

    color: rgba(0, 0, 0, 0.3);

    background-color: rgba(0, 0, 0, 0.1);
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.cart-item-content {
    gap: 8px;
}

.cart-item-name {
    font-size: 1rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

.cart-item-variant-option-name,
.cart-item-variant-option-value {
    font-size: 0.92rem;
    text-wrap: nowrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.96rem;
    }
}

.cart-item-quantity {
    font-size: 1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

.price-current,
.price-base,
.price-discount-percentage {
    font-size: 1rem;
    text-wrap: nowrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

.empty-cart-message {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.cost-breakdown-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cost-breakdown-line {
    display: flex;
    justify-content: space-between;
    gap: 1ch;

    font-family: var(--font-primary);
    font-size: 1rem;
    text-wrap: nowrap;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

.promotions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.promotion-options-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: $mantine-breakpoint-xs) {
        gap: 4px;
    }
}

.promotion {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5ch;

    font-family: var(--font-primary);
    font-size: 0.92rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.96rem;
    }
}

.delete-promotion-button {
    color: black;

    margin-right: 4px;
}

@media (hover: hover) {
    .delete-promotion-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.delete-promotion-button:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px;
    border-radius: 0px;
}

.delete-promotion-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.promotion-code-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    gap: 0.5ch;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
}

.promotion-code {
    font-weight: 600;
}

.promotion-description {
    font-size: 0.86rem;
    font-style: italic;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.9rem;
    }
}

.promotion-discount-value {
    margin-left: 4px;
}

.input-label {
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.promo-code-input-and-button-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;

    width: 100%;
    max-width: 480px;
}

.input {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.apply-promo-code-button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.apply-promo-code-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.cart-summary[data-layout="dropdown"][data-active="true"] {
    position: relative;
    top: 0;

    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 0px;

    width: 100%;

    .collapse-container {
        position: absolute;
        top: 0;
    }
}

.collapse-container {
    display: grid;
    grid-template-rows: auto 1fr auto;

    width: 100%;
}

.collapse-button-root {
    border-radius: 0px;
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    width: 100%;
    height: min-content;
    padding: 16px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

@media (hover: hover) {
    .collapse-button-root:hover {
        /* Overriding default Mantine component hover styles */
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.collapse-button-root:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px;
    border-radius: 0px;
}

.collapse-button-root:active {
    background-color: rgba(0, 0, 0, 0.1);

    /* Overriding default Mantine component active styles */
    transform: none;
}

.collapse-button-label {
    overflow: visible;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    color: black;
    font-family: var(--font-primary);
    font-size: 1.1rem;

    width: 100%;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.2rem;
    }
}

.collapse-button-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.collapse-button-edit-link-container {
    position: relative;

    width: 4rem;
}

.cart-summary[data-layout="dropdown"] .edit-cart-link {
    position: absolute;
    top: -1rem;
}

.collapse {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 0;
}

.collapse-content-top {
    overflow-y: auto;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    max-height: min-content;
    padding: 16px;
}

.collapse-content-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 16px;
}

.overlay {
    position: absolute;
    top: 0;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.6);

    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
}
