.product-hero {
    width: 100%;
    padding: 32px 0px;
}

.product-hero-width-controller {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    gap: 16px;

    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-sm) {
        grid-template-columns: 100%;

        max-width: 640px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: 100%;

        max-width: 768px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);

        max-width: 1024px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        grid-template-columns: repeat(2, 1fr);

        max-width: 1280px;
        padding: 16px;
    }
}

.margin {
    margin-bottom: 12px;
}

.product-image {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    width: 100%;
    aspect-ratio: 1;
}

.product-content {
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    background-color: white;

    width: 100%;
    padding: 24px;
}

.product-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.75rem;
    font-weight: 500;
}

.product-hero-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.product-rating-value,
.product-rating-quantity {
    color: black;
    font-size: 0.92rem;
}

.product-rating-value {
    font-weight: 600;
}

.product-hero-steps-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-hero-buttons-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;

    width: 100%;
}

.add-to-cart-button {
    font-family: var(--font-primary);
    font-size: 1rem;
}
