.product-hero {
    display: flex;
    justify-content: center;

    width: min(calc(var(--vw) * 100), 100%);
    padding: 32px 0px;
}

.product-hero-width-controller {
    --product-hero-padding: 16px;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 100%;
    align-items: start;
    gap: 16px;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: calc(100% - var(--product-hero-padding, 16px) * 2);
    padding: 0px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-sm) {
        grid-template-columns: 100%;

        max-width: calc(640px - var(--product-hero-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-md) {
        grid-template-columns: 100%;

        max-width: calc(768px - var(--product-hero-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);

        max-width: calc(1024px - var(--product-hero-padding, 16px) * 2);
    }

    @media (min-width: $mantine-breakpoint-xl) {
        grid-template-columns: repeat(2, 1fr);

        max-width: calc(1280px - var(--product-hero-padding, 16px) * 2);
    }
}

.margin {
    margin-bottom: 12px;
}

.product-content {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);

    width: 100%;
    padding: 24px;
}

.product-name {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.75rem;
    }
}

.product-hero-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.product-rating-value,
.product-rating-quantity {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.product-rating-value {
    font-weight: 600;
}

.product-hero-steps-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-hero-buttons-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 12px;

    width: 100%;
}

.add-to-cart-button {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    text-align: center;

    padding: 0px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.add-to-cart-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
