.sustainability-banner {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: min-content;
}

.sustainability-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 500;

    width: 100%;
    max-width: 1024px;
    padding: 48px 16px 0px;
    margin: auto;
    margin-bottom: 24px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.4rem;
    }

    strong {
        font-weight: 700;
    }
}

.sustainability-opening-text {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;

    width: 100%;
    max-width: 1024px;
    padding: 0px 16px 0px;
    margin: auto;
    margin-bottom: 24px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

/**
 * Adding padding directly to the Collapse component causes issues with the collapse/expand
 * transition
 */
.Collapse-vertical-padding {
    height: 60px;
}

.sustainability-main-sections {
    display: flex;
    flex-direction: column;

    width: min(var(--body-width), 100%);
}

.sustainability-main-section-container {
    width: 100%;
    padding: 36px 0px;
}

.sustainability-main-section-container-inner {
    display: grid;
    gap: 16px 16%;

    max-width: 1024px;
    padding: 0px 16px;
    margin: auto;
}

.sustainability-main-section-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2rem;
    }
}

.sustainability-main-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sustainability-main-section-body-text {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    margin-bottom: 12px;

    strong {
        font-weight: 700;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.sustainability-main-section-image {
    border: none;
    border-radius: 0px;
    background: #faf8f2;
    background: linear-gradient(
        0deg,
        rgb(250, 248, 242) 0%,
        rgb(255, 252, 248) 30%,
        rgb(240, 237, 233) 30%,
        rgb(224, 220, 215) 100%
    );

    width: 100%;
    aspect-ratio: 1;
}

.sustainability-main-sections {
    > *:nth-child(odd) {
        background-color: var(--site-colour-secondary, rgb(255, 236, 218));
    }
}

.sustainability-main-sections[data-layout="thin"] {
    .sustainability-main-section-container-inner {
        grid-template-columns: 100%;
    }

    .sustainability-main-section-heading,
    .sustainability-main-section-body-text {
        text-align: center;
    }
}

.sustainability-main-sections[data-layout="wide"] {
    > *:nth-child(odd) {
        .sustainability-main-section-container-inner {
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 40%;
        }

        .sustainability-main-section-heading {
            grid-area: 1 / 1 / 2 / 2;
        }

        .sustainability-main-section-body-text {
            grid-area: 2 / 1 / -1 / 2;
        }

        .sustainability-main-section-image {
            grid-area: 1 / 2 / -1 / -1;
        }
    }

    > *:nth-child(even) {
        .sustainability-main-section-container-inner {
            grid-template-rows: auto 1fr;
            grid-template-columns: 40% 1fr;
        }

        .sustainability-main-section-heading {
            grid-area: 1 / 2 / 2 / -1;
        }

        .sustainability-main-section-body-text {
            grid-area: 2 / 2 / -1 / -1;
        }

        .sustainability-main-section-image {
            grid-area: 1 / 1 / -1 / 2;
        }
    }
}

.Button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: min-content;
    padding: 0px;
    margin: 24px 0px 32px;
}

.Button-root {
    border-radius: 0px;

    width: min-content;
    height: min-content;
}

.Button-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

@media (hover: hover) {
    .Button-root:hover {
        /* Overriding default Mantine component hover styles */
        background-color: transparent;
    }
}

.Button-root:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.Button-root:active {
    background-color: transparent;

    /* Overriding default Mantine component active styles */
    transform: none;
}
