.sustainability-banner {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--site-colour-primary, rgb(255, 249, 243));

    width: 100%;
    height: min-content;
}

.sustainability-banner-image-container {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
}

.sustainability-banner-image {
    position: absolute;

    border: none;
    border-radius: 0px;
    -webkit-mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);

    max-width: 100%;
    height: 1200px;
    max-height: 1280px;

    @media (min-width: $mantine-breakpoint-xs) {
        height: 880px;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        height: 900px;
    }

    @media (min-width: $mantine-breakpoint-md) {
        height: 960px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        height: 1080px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        height: 1280px;
    }
}

.sustainability-banner-content-container {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: min-content;
}

.sustainability-heading {
    color: white;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 500;

    width: 100%;
    max-width: 1024px;
    padding: 48px 16px 0px;
    margin: auto;
    margin-bottom: 24px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.4rem;
    }

    strong {
        font-weight: 700;
    }
}

.sustainability-opening-text {
    color: white;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;

    width: 100%;
    max-width: 1024px;
    padding: 0px 16px 0px;
    margin: auto;
    margin-bottom: 24px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

/**
 * Adding padding directly to the Collapse component causes issues with the collapse/expand
 * transition
 */
.Collapse-vertical-padding {
    height: 40px;

    @media (min-width: $mantine-breakpoint-md) {
        height: 100px;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        height: 180px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        height: 240px;
    }
}

.sustainability-main-sections {
    display: flex;
    flex-direction: column;

    width: min(var(--body-width), 100%);
}

.sustainability-main-section-container {
    width: 100%;
    padding: 12px 0px;

    @media (min-width: $mantine-breakpoint-lg) {
        padding: 24px 0px;
    }
}

.sustainability-main-section-container-inner {
    display: grid;
    gap: 16px max(16px, 4%);

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);

    max-width: 1024px;
    padding: 24px 16px;
    margin: auto;

    @media (min-width: $mantine-breakpoint-lg) {
        gap: 16px 8%;

        padding: 32px 24px;
    }
}

.sustainability-main-section-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2rem;
    }
}

.sustainability-main-section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sustainability-main-section-body-text {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    margin-bottom: 12px;

    strong {
        font-weight: 700;
    }

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.sustainability-main-section-image {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);

    width: 100%;
}

.farming-image {
    object-fit: cover;
    object-position: bottom;

    max-height: 560px;
}

.pods-image {
    object-fit: cover;
    object-position: 80% 70%;

    max-height: 560px;
}

.sustainability-main-sections {
    > *:nth-child(odd) {
        /* background-color: var(--site-colour-secondary, rgb(255, 236, 218)); */
    }
}

.sustainability-main-sections[data-layout="thin"] {
    .sustainability-main-section-container-inner {
        grid-template-columns: 100%;
    }

    .sustainability-main-section-heading,
    .sustainability-main-section-body-text {
        text-align: center;
    }
}

.sustainability-main-sections[data-layout="wide"] {
    > *:nth-child(odd) {
        .sustainability-main-section-container-inner {
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 45%;
        }

        .sustainability-main-section-heading {
            grid-area: 1 / 1 / 2 / 2;
        }

        .sustainability-main-section-body-text {
            grid-area: 2 / 1 / -1 / 2;
        }

        .sustainability-main-section-image {
            grid-area: 1 / 2 / -1 / -1;
        }
    }

    > *:nth-child(even) {
        .sustainability-main-section-container-inner {
            grid-template-rows: auto 1fr;
            grid-template-columns: 45% 1fr;
        }

        .sustainability-main-section-heading {
            grid-area: 1 / 2 / 2 / -1;
        }

        .sustainability-main-section-body-text {
            grid-area: 2 / 2 / -1 / -1;
        }

        .sustainability-main-section-image {
            grid-area: 1 / 1 / -1 / 2;
        }
    }
}

.Button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: min-content;
    padding: 0px;
    margin: 24px 0px 32px;
}

.Button-root {
    border-radius: 0px;

    width: min-content;
    height: min-content;
}

.Button-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: var(--font-primary);
    font-size: 0.86rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }

    * {
        color: white;
    }
}

@media (hover: hover) {
    .Button-root:hover {
        /* Overriding default Mantine component hover styles */
        background-color: transparent;
    }
}

.Button-root:focus-visible {
    outline: 2px solid #fff;
    border-radius: 0px;
}

.Button-root:active {
    background-color: transparent;

    /* Overriding default Mantine component active styles */
    transform: none;
}

.Button-root[data-is-open="true"] {
    .Button-label {
        color: black;

        * {
            color: black;
        }
    }
}

.Button-root[data-is-open="true"]:focus-visible {
    outline-color: black;
}
