.sustainability-banner {
    width: 100%;
    height: min-content;
}

.sustainability-text-container {
    display: flex;
    flex-direction: column;

    width: min(calc(var(--vw) * 100), 100%);
    max-width: 1024px;
    padding: 16px;
    margin: auto;
}

.sustainability-heading {
    color: black;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 500;

    margin-bottom: 24px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 2.4rem;
    }

    strong {
        font-weight: 700;
    }
}

.sustainability-opening-text {
    color: black;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}
