.product-reviews {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    width: 100%;
    padding: 16px;

    @media (min-width: $mantine-breakpoint-lg) {
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 16px;
    }
}

.sticky-panel {
    position: initial;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    height: min-content;

    transition: top 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);

    @media (min-width: $mantine-breakpoint-lg) {
        position: sticky;
    }
}

.sticky-panel.shifted {
    transition: top 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
}

.filter-and-sort-options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    width: 100%;
    height: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
    }

    @media (min-width: $mantine-breakpoint-lg) {
        flex-direction: column;
    }
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: black;
    font-size: 1rem;
    font-family: var(--font-primary);

    min-width: 200px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.1rem;
    }
}

.select {
    align-self: center;

    color: black;
    font-size: 1rem;
    font-family: var(--font-primary);
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    width: 100%;
    height: min-content;
    padding: 6px 2px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

@media (hover: hover) {
    .select:hover {
        cursor: pointer;
    }
}

.select:focus-visible {
    outline: 2px solid #000;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review-count {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 600;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.pagination-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.pagination-control {
    color: black;
    font-size: 0.92rem;

    border: none;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.pagination-control[data-active] {
    outline: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination-control[data-disabled] {
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));
}
