.product-reviews {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 16px;

    background-color: rgb(250, 223, 198);

    width: 100%;
    padding: 16px;

    @media (max-width: $mantine-breakpoint-lg) {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.sticky-panel {
    position: sticky;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    height: min-content;

    transition: top 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);

    @media (max-width: $mantine-breakpoint-lg) {
        position: initial;
    }
}

.sticky-panel.shifted {
    transition: top 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
}

.filter-and-sort-options-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    height: min-content;

    @media (max-width: $mantine-breakpoint-lg) {
        flex-direction: row;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: black;
    font-size: 1.1rem;
    font-family: "Radio Canada Big";

    min-width: 200px;
}

.select {
    align-self: center;

    color: black;
    font-size: 1.06rem;
    font-family: "Radio Canada Big";
    text-transform: capitalize;

    border: none;
    outline: 1px solid #000;

    width: 100%;
    height: min-content;
    padding: 6px 2px;
}

@media (hover: hover) {
    .select:hover {
        cursor: pointer;
    }
}

.select:focus-visible {
    outline: 2px solid #000;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review-count {
    color: black;
    font-family: "Radio Canada Big";
    font-size: 1.8rem;
    font-weight: 600;
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.pagination-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.pagination-control {
    color: black;

    border: none;
    background-color: rgb(255, 236, 218);
}

.pagination-control[data-active] {
    outline: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination-control[data-disabled] {
    background-color: rgb(250, 223, 198);
}
