.product-reviews {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 16px;

    background-color: rgb(250, 223, 198);

    width: 100%;
    padding: 16px;

    @media (max-width: $mantine-breakpoint-lg) {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.sticky-panel {
    position: sticky;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    height: min-content;

    transition: top 0.2s cubic-bezier(0.99, -0.02, 0.7, 1);

    @media (max-width: $mantine-breakpoint-lg) {
        position: initial;
    }
}

.sticky-panel.shifted {
    transition: top 0.2s cubic-bezier(0.3, 0, 0.01, 1.02);
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: rgb(255, 236, 218);

    width: 100%;
    height: min-content;
    padding: 16px;
}

.product-reviews-rating-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rating-star-symbol {
    stroke: none;
}

.rating-star-symbol:not([data-filled]) {
    fill: rgb(250, 223, 198);
}

.product-rating-description {
    color: black;
    font-family: "Radio Canada Big";
    font-size: 1.1rem;
}

.product-rating-description > strong {
    font-weight: 600;
}

.product-reviews-rating-bars {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 6px 12px;
}

.product-reviews-rating-bar {
    display: contents;

    width: 100%;
}

.product-reviews-rating-tier-key {
    text-align: center;
}

.progress {
    background-color: rgb(250, 223, 198);
}

.product-reviews-rating-tier-percentage {
    text-align: right;
}

.filter-and-sort-options-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    height: min-content;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: black;
    font-size: 1.1rem;
    font-family: "Radio Canada Big";
}

.select {
    align-self: center;

    color: black;
    font-size: 1rem;
    font-family: "Radio Canada Big";
    text-transform: capitalize;

    border: none;
    outline: none;

    width: 100%;
    height: min-content;
    padding: 2px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review-count {
    color: black;
    font-family: "Radio Canada Big";
    font-size: 1.8rem;
    font-weight: 600;
}

.divider {
    --divider-color: rgba(0, 0, 0, 0.6);
}

.pagination-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.pagination-control {
    color: black;

    border: none;
    background-color: rgb(255, 236, 218);
}

.pagination-control[data-active] {
    outline: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination-control[data-disabled] {
    background-color: rgb(250, 223, 198);
}
