.review {
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--site-colour-secondary, rgb(255, 236, 218));

    width: 100%;
    padding: 16px;
}

.date-posted {
    font-family: var(--font-primary);
    font-size: 1rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.06rem;
    }
}

.description {
    width: 100%;
}

.markdown-container {
    * {
        font-family: var(--font-primary);
        font-size: 0.92rem;

        @media (min-width: $mantine-breakpoint-xs) {
            font-size: 1rem;
        }
    }

    p {
        margin-bottom: revert;
    }
    p:nth-last-child(-n + 1) {
        margin-bottom: 0px;
    }

    strong {
        font-weight: 700;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }
}
