.item {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 8px;

    text-decoration: none;

    width: 100%;
    height: 100%;
}

.item-image {
    width: 100%;
    aspect-ratio: 1;

    border: 1px solid #000;
}

.item-name {
    color: black;
}

.item-price-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-price-current {
    color: black;
}

.item-price-base {
    color: grey;
    text-decoration: line-through;
}

.item-price-discount-percentage {
    color: rgb(40, 190, 20);
}

.item-rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.item-rating-value,
.item-rating-quantity {
    color: black;
    font-size: 0.9rem;
}

.item-rating-value {
    font-weight: 500;
}
