.promotion-panel {
    width: 100%;
}

.image-container {
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.image {
    position: relative;

    object-fit: cover;
    object-position: 50% 50%;

    width: 100%;
    height: 100%;

    transform-origin: center;
    transform: scale(1.75, 1.75);

    filter: blur(0.25px);

    @media (min-width: $mantine-breakpoint-xl) {
        position: relative;
        left: -50%;
        top: 0%;

        object-position: 0% 50%;

        filter: none;

        width: 150%;
        min-height: auto;

        transform: scale(-1, 1);
    }
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        transparent 30%,
        transparent 70%,
        rgba(0, 0, 0, 0.4) 100%
    );

    width: 100%;
    height: 100%;
}

.promotion-panel-inner {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 100%;
    height: 100%;
    padding: 48px 32px;

    @media (min-width: $mantine-breakpoint-xl) {
        align-items: start;

        width: 50%;
        padding-left: 48px;
        margin-left: 50%;
    }
}

.title {
    color: rgb(255, 255, 255);
    font-family: var(--font-primary);
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 4rem;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        text-align: start;
    }
}

.subcopy {
    color: rgb(255, 255, 255);
    font-family: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;

    padding: 0px 32px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.8rem;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        padding: 0px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        text-align: start;
    }
}

.link {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;

    outline-offset: 2px;
    border: none;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.8);

    padding: 8px 32px;

    transition: background-color 0.2s linear;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.5rem;
    }

    @media (min-width: $mantine-breakpoint-xl) {
        text-align: start;
    }
}

@media (hover: hover) {
    .link:hover {
        cursor: pointer;

        background-color: rgb(255, 255, 255);
    }
}

.link:focus-visible {
    outline: 2px solid white;
}
