.checkout-details-section-content {
    padding: 12px 0px;
}

.form {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
}

/**
 * Using this instead of 'gap: 16px' on .form element to prevent layout shift when closing Collapse
 * component
 */
.fieldset,
.checkbox-root,
.divider-light,
.radio-group-root {
    padding-bottom: 16px;
}

.legend {
    font-family: var(--font-primary);
    font-size: 1.14rem;
    font-weight: 500;

    padding-top: 8px;
    margin-bottom: 16px;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.25rem;
    }
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.form-field-input:disabled {
    border-color: grey;
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.fieldset[data-matches-delivery="true"] {
    .form-field-input {
        color: transparent;

        border-color: black;
        background-color: transparent;
    }
}

.checkbox-input {
    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;
}

@media (hover: hover) {
    .checkbox-input:hover,
    .radio-root:hover {
        cursor: pointer;
    }
}

.checkbox-input:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}

.checkbox-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;
    font-weight: 400;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.divider-light {
    --divider-color: rgba(0, 0, 0, 0.3);
}

.radio-group-root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-group-label {
    font-family: var(--font-primary);
    font-size: 1.14rem;
    font-weight: 500;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1.25rem;
    }
}

.radio-options-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio-root {
    border: 2px solid black;
    background-color: var(--site-colour-tertiary, rgb(250, 223, 198));

    padding: 8px;

    transition: 0.25s ease-in-out background-color;

    * {
        cursor: inherit;
    }
}

.radio-root[data-checked="true"] {
    background-color: var(--site-colour-secondary, rgb(255, 236, 218));
}

.radio-body {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-align: start;
}

.radio {
    border: 2px solid black;
    background-color: transparent;
}

.radio-root:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
    border-radius: 0px;
}

.radio-label {
    font-family: var(--font-primary);
    font-size: 0.92rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }

    strong {
        font-weight: 600;
    }
}

.radio-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-description-main {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.86rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.radio-description-expected-date {
    color: black;
    font-family: var(--font-primary);
    font-size: 0.92rem;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 1rem;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.previous-stage-button,
.next-stage-button {
    display: flex;

    font-family: var(--font-primary);
    font-size: 0.86rem;

    border-radius: 4px;

    width: min-content;

    @media (min-width: $mantine-breakpoint-xs) {
        font-size: 0.92rem;
    }
}

.previous-stage-button:focus-visible,
.next-stage-button:focus-visible {
    outline: 2px solid #000;
    border-radius: 0px;
}
